<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morksoftware.plwplus"
    android:versionCode="11"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />
    
    <!-- Features -->
    <uses-feature android:name="android.software.live_wallpaper" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    
    <application
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <service android:name=".PortalWallpaperService"
              android:label="@string/app_name"
                 android:permission="android.permission.BIND_WALLPAPER">
            
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper_config" />
        </service>
        
        <activity 
            android:name=".PrefsMainMenu"
            android:exported="true">
        </activity>
        <activity 
            android:name=".PrefsIncludedBackgrounds">            
        </activity>
    </application>

</manifest>